*{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
    box-sizing: border-box;
}
body{
    background-image: url("images/background.jpg");
    background-position: center ;
    background-repeat: no-repeat;
  
   
}
.card{
    border-color: rgb(255, 255, 255);
    border-style:solid;
    width: 90%;
    max-width: 470px;
    background: linear-gradient( rgb(25, 186, 207),rgb(3, 63, 101),rgb(13, 2, 77));
    margin: 50px auto 0 ;
    border-radius: 18px;
    padding: 60px 25px;
    text-align: center;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background: white;
    color: black;
    padding: 10px 25px;
    height: 60px;
    border-radius: 15px;
    flex: 1;
    margin-right: 16px ;
    font-size: 20px;
}
.search button{
    border: 0;
    outline: 0;
    background: white;
    border-radius:15px ;
    width: 60px;
    height:60px;
    cursor: pointer;
}
.search button img{
    width: 26px;
} 
.weather-icon{
    width: 170px ;
    margin-top: 30px;
}
.weather h1{
 font-size: 65px;
 font-weight: 400;
 color: aliceblue;
}
.weather h2{
    font-size: 35px;
    font-weight: 400;
    margin-top: -5px;
    color: aliceblue;
   }
   .details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 30px;
    }
   .col{
    display: flex;
    align-items: center;
    text-align: left;
    color: aliceblue;
   }
   .col img{
    width: 45px;
    margin-right: 10px;
   }
   .humidity{
    font-size: 25px;
    margin-top: -5px;
   }
   .wind{
    font-size: 25px;
    margin-top: -5px;
   }